In [6]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
from glob import glob

In [7]:
# Kristina's code starts here

In [8]:
# Kristina's code ends here

In [12]:
# Jeff's code starts here
filenames = glob('Resources/StormEvent*.csv')
Storm_Event_df = [pd.read_csv(f, dtype = str) for f in filenames]
Storm_Event_df

filename = 'temperature_data/weather_cloquet_MN1950_2019.csv'
Historic_weather_df = pd.read_csv(filename)

In [10]:
# Jeff's code ends here
Historic_weather_df

,STATION,NAME,DATE,CDSD,DSND,DSNW,EMNT,EMSD,EMSN,EMXP,EMXT,HDSD,PRCP,SNOW,TAVG,TMAX,TMIN,WDMV
0,USC00211630,"CLOQUET, MN US",1950-07,55.0,0.0,0.0,37.0,0.0,0.0,0.61,88.0,98.0,3.41,0.0,62.9,76.1,49.7,NaN
1,USC00211630,"CLOQUET, MN US",1950-08,76.0,0.0,0.0,31.0,0.0,0.0,0.78,90.0,306.0,2.33,0.0,59.0,73.3,44.6,NaN
2,USC00211630,"CLOQUET, MN US",1950-09,77.0,0.0,0.0,25.0,0.0,0.0,0.63,80.0,589.0,1.70,0.0,55.6,67.8,43.3,NaN
3,USC00211630,"CLOQUET, MN US",1950-10,77.0,0.0,0.0,26.0,0.0,0.0,1.91,73.0,1169.0,3.97,0.0,46.3,56.8,35.9,NaN
4,USC00211630,"CLOQUET, MN US",1950-11,77.0,NaN,4.0,-8.0,NaN,3.2,0.95,61.0,2420.0,1.88,10.4,23.3,31.8,14.8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,USC00211630,"CLOQUET, MN US",2019-12,201.0,31.0,6.0,-23.0,25.0,18.7,2.02,37.0,3903.0,4.19,36.7,15.2,23.3,7.2,NaN
830,USC00211630,"CLOQUET, MN US",2020-01,0.0,29.0,4.0,-20.0,30.0,5.8,1.01,31.0,5480.0,1.63,14.7,14.1,21.9,6.3,NaN
831,USC00211630,"CLOQUET, MN US",2020-02,0.0,25.0,0.0,-23.0,28.0,0.8,0.08,44.0,7004.0,0.13,1.3,12.5,24.9,0.0,NaN
832,USC00211630,"CLOQUET, MN US",2020-03,0.0,29.0,3.0,-2.0,25.0,3.1,1.19,54.0,8127.0,1.65,6.7,28.8,38.8,18.7,NaN
833,USC00211630,"CLOQUET, MN US",2020-04,0.0,11.0,0.0,10.0,17.0,0.2,0.38,69.0,8968.0,1.10,0.2,37.0,48.0,26.0,NaN

In [ ]:
# Faduma's code starts here

In [ ]:
# Faduma's code ends here

In [ ]:
# Emily's code starts here

In [ ]:
# Emily's code ends here