In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
from scipy.stats import linregress
from glob import glob

In [2]:
# Jeff's code starts here
filenames = glob('Resources/StormEvent*.csv')
Storm_Event_df = [pd.read_csv(f, dtype = str) for f in filenames]

In [3]:
Storm_Event_Combined_df=pd.DataFrame()

for i in range(0,len(Storm_Event_df)):
    Storm_Event_Combined_df = Storm_Event_Combined_df.append(Storm_Event_df[i])
#Storm_Event_df

Storm_Event_Combined_df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,195004,28,1445,195004,28,1445,NaN,10096222,OKLAHOMA,40,...,0,NaN,NaN,35.12,-99.20,35.17,-99.20,NaN,NaN,PUB
1,195004,29,1530,195004,29,1530,NaN,10120412,TEXAS,48,...,0,NaN,NaN,31.90,-98.60,31.73,-98.60,NaN,NaN,PUB
2,195007,5,1800,195007,5,1800,NaN,10104927,PENNSYLVANIA,42,...,0,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,NaN,PUB
3,195007,5,1830,195007,5,1830,NaN,10104928,PENNSYLVANIA,42,...,0,NaN,NaN,40.60,-76.75,NaN,NaN,NaN,NaN,PUB
4,195007,24,1440,195007,24,1440,NaN,10104929,PENNSYLVANIA,42,...,0,NaN,NaN,41.63,-79.68,NaN,NaN,NaN,NaN,PUB

In [4]:
#jeff's code ends here

In [5]:
# Faduma's code starts here
filenames = glob('Temperature_Data/Temperature_Data*.csv')
Temp_Data_df = [pd.read_csv(f, dtype = str) for f in filenames]

Temp_Data_Combined_df=pd.DataFrame()

for i in range(0,len(Temp_Data_df)):
    Temp_Data_Combined_df = Temp_Data_Combined_df.append(Temp_Data_df[i])
    
#combined file name:
Temp_Data_Combined_df.head()

,STATION,NAME,DATE,CDSD,DSND,DSNW,EMNT,EMSD,EMSN,EMXP,...,TAVG,TMAX,TMIN,WDMV,AWND,TSUN,WDF2,WDF5,WSF2,WSF5
0,USC00210018,"ADA, MN US",1950-01,NaN,NaN,NaN,-33,NaN,NaN,0.50,...,NaN,NaN,-16.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00210018,"ADA, MN US",1950-02,NaN,NaN,1,-32,NaN,1.0,0.10,...,7.1,19.1,-5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00210018,"ADA, MN US",1950-03,NaN,NaN,0,-25,NaN,0.3,0.91,...,19.5,29.5,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00210018,"ADA, MN US",1950-04,NaN,NaN,NaN,5,NaN,NaN,NaN,...,32.8,41.0,24.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00210018,"ADA, MN US",1950-05,NaN,0,0,30,0,0.0,1.40,...,51.8,61.6,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Faduma's code ends here

In [7]:
# Kristina's code starts here

In [8]:
#View existing dataframe
Temp_Data_Combined_df.head(150)

,STATION,NAME,DATE,CDSD,DSND,DSNW,EMNT,EMSD,EMSN,EMXP,...,TAVG,TMAX,TMIN,WDMV,AWND,TSUN,WDF2,WDF5,WSF2,WSF5
0,USC00210018,"ADA, MN US",1950-01,NaN,NaN,NaN,-33,NaN,NaN,0.50,...,NaN,NaN,-16.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00210018,"ADA, MN US",1950-02,NaN,NaN,1,-32,NaN,1.0,0.10,...,7.1,19.1,-5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00210018,"ADA, MN US",1950-03,NaN,NaN,0,-25,NaN,0.3,0.91,...,19.5,29.5,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00210018,"ADA, MN US",1950-04,NaN,NaN,NaN,5,NaN,NaN,NaN,...,32.8,41.0,24.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00210018,"ADA, MN US",1950-05,NaN,0,0,30,0,0.0,1.40,...,51.8,61.6,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,USC00210018,"ADA, MN US",1962-03,0,31,5,-26,17,3.0,0.30,...,23.7,31.6,15.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,USC00210018,"ADA, MN US",1962-04,2,NaN,0,15,NaN,0.0,0.69,...,40.0,51.7,28.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,USC00210018,"ADA, MN US",1962-05,2,0,0,27,0,0.0,1.75,...,55.4,66.4,44.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,USC00210018,"ADA, MN US",1962-06,101,0,0,40,0,0.0,1.70,...,66.0,76.7,55.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,USC00210018,"ADA, MN US",1962-07,208,0,0,46,0,0.0,2.77,...,68.3,80.3,56.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
list(Temp_Data_Combined_df.columns)

['STATION',
 'NAME',
 'DATE',
 'CDSD',
 'DSND',
 'DSNW',
 'EMNT',
 'EMSD',
 'EMSN',
 'EMXP',
 'EMXT',
 'HDSD',
 'PRCP',
 'SNOW',
 'TAVG',
 'TMAX',
 'TMIN',
 'WDMV',
 'AWND',
 'TSUN',
 'WDF2',
 'WDF5',
 'WSF2',
 'WSF5']

In [10]:
# keeping only the columns that are relevant
clean_temp_data_df = Temp_Data_Combined_df[['NAME','DATE','PRCP','SNOW','TAVG','TMAX','TMIN']]
print(clean_temp_data_df)

                                NAME     DATE  PRCP  SNOW  TAVG  TMAX   TMIN
0                         ADA, MN US  1950-01  1.30   NaN   NaN   NaN  -16.4
1                         ADA, MN US  1950-02  0.10   1.0   7.1  19.1   -5.0
2                         ADA, MN US  1950-03  1.14   0.3  19.5  29.5    9.4
3                         ADA, MN US  1950-04   NaN   NaN  32.8  41.0   24.7
4                         ADA, MN US  1950-05  5.21   0.0  51.8  61.6   42.0
...                              ...      ...   ...   ...   ...   ...    ...
2502  COLLEGEVILLE ST. JOHN S, MN US  2019-09  8.67     0  62.6  71.6   53.6
2503  COLLEGEVILLE ST. JOHN S, MN US  2019-10  4.17     0  44.6  53.1   36.2
2504  COLLEGEVILLE ST. JOHN S, MN US  2019-11   1.6  14.1  28.1  34.1   22.1
2505  COLLEGEVILLE ST. JOHN S, MN US  2019-12  2.12    12  18.6  26.1   11.2
2506  COLLEGEVILLE ST. JOHN S, MN US  2020-01  0.93  14.4  16.2  24.1    8.3

[7030 rows x 7 columns]

array(['ADA, MN US', 'CLOQUET, MN US', 'ROSEAU, MN US',
       'WINNIBIGOSHISH DAM, MN US', 'WARROAD, MN US', 'HALLOCK, MN US',
       'ALEXANDRIA CHANDLER FIELD, MN US', 'CANBY, MN US',
       'COLLEGEVILLE ST. JOHN S, MN US'], dtype=object)

In [ ]:
# Renaming column headers
clean_temp_data_df = clean_temp_data_df.rename(columns={
    "NAME": "Name",
    "DATE": "Date",
    "PRCP": "Total Monthly Precipitation",
    "SNOW": "Total Montly Snowfall (mm)",
    "TAVG": "Avg Monthly Temp", 
    "TMAX": "Monthly Mean Max Temp",
    "TMIN": "Monthly Mean Min Temp"
})
clean_temp_data_df.head()

In [ ]:
clean_temp_data_df.shape

In [ ]:
#Check for Nan values and drop them.
cleaner_temp_data_df = clean_temp_data_df.dropna(how='any', inplace=False)
cleaner_temp_data_df.tail()

In [ ]:
cleaner_temp_data_df['Name'].unique()

In [ ]:
len(cleaner_temp_data_df)

In [ ]:
# Save output to csv
clean_temp_data_df.to_csv('Resources/clean_temp_data.csv', index=false)

In [ ]:
# Kristina's code ends here

In [ ]:
# Emily's code starts here
# View existing dataframe
Storm_Event_Combined_df.head(150)

In [ ]:
list(Storm_Event_Combined_df.columns)

In [ ]:
# keeping only the columns that are relevant
clean_storm_data_df = Storm_Event_Combined_df[['YEAR','MONTH_NAME','BEGIN_DAY','STATE','EVENT_TYPE']]

# filtering the data based on weather in Minnesota
clean_storm_data_mn_df = clean_storm_data_df[clean_storm_data_df['STATE'] == 'MINNESOTA']
clean_storm_data_mn_df.head()

# rename the columns
clean_storm_data_mn_df = clean_storm_data_mn_df.rename(columns={
    "YEAR": "Year",
    "MONTH_NAME": "Month",
    "BEGIN_DAY": "Day",
    "STATE": "State",
    "EVENT_TYPE": "Event Type",
})

# check number of rows and columns
clean_storm_data_mn_df.shape

# view all unique event types
clean_storm_data_mn_df['Event Type'].unique()

In [ ]:
# Check the number of rows in the data
len(clean_storm_data_mn_df)

In [ ]:
#need to check for Nan values and drop them
clean_storm_df = clean_storm_data_mn_df.dropna(how='any', inplace=False)
clean_storm_df.head()
len(clean_storm_df)

In [ ]:
clean_storm_df['Event Type'].value_counts()

In [ ]:
#update 'THUNDERSTORM WINDS/HEAVY RAIN' to proper case
clean_storm_df['Event Type'] = clean_storm_df['Event Type'].replace({
    'THUNDERSTORM WINDS/HEAVY RAIN':'Thunderstorm Winds/Heavy Rain',
    'Blizzard': 'Winter Weather', 
    'Heavy Snow': 'Winter Weather',
    'Ice Storm': 'Winter Weather',
    'Lake-Effect Snow': 'Winter Weather',
    'Sleet': 'Winter Weather', 
    'Winter Storm': 'Winter Weather'
})
clean_storm_df.head(20)

In [ ]:
# Review value counts of Event Type
clean_storm_df['Event Type'].value_counts()

In [ ]:
# Save output to csv
clean_storm_df.to_csv('Resources/clean_storm_event_data.csv', index=false)

## Testing of cleaned storm data - should be moved to analysis routine

In [ ]:
#testing by Jeff
year_list = clean_storm_data_mn_df["Year"].unique()
event_list = clean_storm_data_mn_df["Event Type"].unique()

#clean_storm_data_mn_df
year_count_df = pd.DataFrame()
for i in year_list:
    year_count = clean_storm_data_mn_df[clean_storm_data_mn_df["Year"]==i]["Event Type"].count()
    year_count_df = year_count_df.append({"Year":i, "Count":year_count}, ignore_index=True)
year_count_df

x_data = (year_count_df["Year"].astype(int))
y_data = year_count_df["Count"].astype(float)

plt.scatter(x_data,y_data, s = 4)
plt.xlabel("Year")
plt.ylabel("Count")
plt.title("Counts of Storm Events vs Year")

plt.show()

In [ ]:
#testing by Jeff
#Isolating just the Tornado data (data set from 1950-2020)

year_list = clean_storm_data_mn_df["Year"].unique()
event_list = clean_storm_data_mn_df["Event Type"].unique()
clean_tornado_mn_df = pd.DataFrame()
clean_tornado_mn_df = clean_storm_data_mn_df[clean_storm_data_mn_df["Event Type"]=="Tornado"]

#clean_storm_data_mn_df
year_count_df = pd.DataFrame()
for i in year_list:
    year_count = clean_tornado_mn_df[clean_tornado_mn_df["Year"]==i]["Event Type"].count()
    year_count_df = year_count_df.append({"Year":i, "Count":year_count}, ignore_index=True)
year_count_df

x_data = (year_count_df["Year"].astype(int))
y_data = year_count_df["Count"].astype(float)

plt.scatter(x_data,y_data, s = 4)
plt.xlabel("Year")
plt.ylabel("Count")
plt.title("Counts of Tornado Events vs Year")

(slope_N, intercept_N, rvalue_N, pvalue_N, stderr_N) = linregress(x_data,y_data)
regress_values_N = x_data * slope_N + intercept_N
line_eq = "y = " + str(round(slope_N,2)) + "x + " + str(round(intercept_N,2))+", r = " +str(round(rvalue_N,2))+", p="+str(round(pvalue_N,2))
min_x = x_data.min()
max_y = y_data.max()
plt.plot(x_data,regress_values_N,"r-")
plt.annotate(line_eq,(min_x+1,max_y-1),fontsize=11,color="red") #writes to coordinates on graph
plt.show()

In [ ]:
#testing by Jeff
year_list = clean_storm_data_mn_df["Year"].unique()
event_list = clean_storm_data_mn_df["Event Type"].unique()
clean_tornado_mn_df = pd.DataFrame()
clean_tornado_mn_df = clean_storm_data_mn_df[clean_storm_data_mn_df["Year"]>"1995"]

#clean_storm_data_mn_df looking beyond 1995 only
count_g1995_df = pd.DataFrame()
for i in year_list:
    if i > "1995":
        count_g1995 = clean_tornado_mn_df[clean_tornado_mn_df["Year"]==i]["Event Type"].count()
        count_g1995_df = count_g1995_df.append({"Year":i, "Count":count_g1995}, ignore_index=True)


x_data = (count_g1995_df["Year"].astype(int))
y_data = count_g1995_df["Count"].astype(float)

plt.scatter(x_data,y_data, s = 4)
plt.xlabel("Year")
plt.ylabel("Count")
plt.title("Counts of All Events vs Year past 1995")

(slope_N, intercept_N, rvalue_N, pvalue_N, stderr_N) = linregress(x_data,y_data)
regress_values_N = x_data * slope_N + intercept_N
line_eq = "y = " + str(round(slope_N,2)) + "x + " + str(round(intercept_N,2))+", r = " +str(round(rvalue_N,2))+", p="+str(round(pvalue_N,2))
min_x = x_data.min()
max_y = y_data.max()
plt.plot(x_data,regress_values_N,"r-")
plt.annotate(line_eq,(min_x+1,max_y-1),fontsize=11,color="red") #writes to coordinates on graph
plt.show()

In [ ]:
#more code by Jeff
event_count_df = pd.DataFrame()
for i in event_list:
    event_count = clean_storm_data_mn_df[clean_storm_data_mn_df["Event Type"]==i]["Event Type"].count()
    event_count_df = event_count_df.append({"Event Type":i, "Count":event_count}, ignore_index=True)
event_count_df = event_count_df.sort_values(by = "Count", ascending = False)


total = event_count_df["Count"].sum()
event_count_df["Percent"] = event_count_df["Count"]/total*100
event_count_ge1_df = pd.DataFrame()
event_count_ge1_df = event_count_df[event_count_df["Percent"]>=1]

x_data = event_count_ge1_df["Event Type"].astype(object)
y_data = event_count_ge1_df["Count"].astype(float)
x_list = x_data.tolist()
y_list = y_data.tolist()

fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
plt.xticks(rotation=90)
ax.bar(x_list,y_list)
plt.show()

event_count_df

In [ ]:
# Emily's code ends here